<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/normalise.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../assets/js/bootstrap.js">
    <link rel="stylesheet" href="../../assets/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../../assets/js/jQuery.js">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="row">
    <input type="radio" class="inputelement one col-2 offset-3" name="menu" checked />
    <span class="col-2 offset-3">Pirmas</span>
    <input type="radio" class="inputelement two col-2 offset-5" name="menu" />
    <span class="col-2">Antras</span>
    <input type="radio" class="inputelement three col-2 offset-7" name="menu" />
    <span class="col-2">Trecias</span>
           <div class="navigationwrapper">
            <p id="content1" class="navigationcontainer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab
                consectetur iure nihil
                excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime,
                quasi.
                Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit
                commodi
                veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores
                ea
                laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
            <p id="content2" class="navigationcontainer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab
                consectetur iure nihil
                excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime,
                quasi.
                Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit
                commodi
                veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores
                ea
                laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
            <p id="content3" class="navigationcontainer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab
                consectetur iure nihil
                excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime,
                quasi.
                Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit
                commodi
                veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores
                ea
                laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
        </div>
      


        <script src="../../assets/js/jQuery.js"></script>
        <script src="../../assets/js/bootstrap.bundle.js"></script>
        <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>