<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/normalise.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../assets/js/bootstrap.js">
    <link rel="stylesheet" href="../../assets/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../../assets/js/jQuery.js">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="row">
    
    <input name="menu" id="" class="col-2 menu-but one" type="radio" checked>
    <a class="col-2 height-80px bg-dark" href="#" id="pirmas">Pirmas</a>
    <input name="menu" id="" class="col-2 menu-but one" type="radio" >
    <a class="col-2 height-80px bg-dark" href="#" id="antras">Antras</a>
    <input name="menu" id="" class="col-2 menu-but one" type="radio" >
    <a class="col-2 height-80px bg-dark" href="#" id="trecias">Trecias</a>

    <p id="hidden-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab consectetur iure nihil
        excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime, quasi.
        Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit commodi
        veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores ea
        laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
    <p id="hidden-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab consectetur iure nihil
        excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime, quasi.
        Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit commodi
        veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores ea
        laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
    <p id="hidden-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis mollitia ab consectetur iure nihil
        excepturi laboriosam animi ipsum inventore! Iste laboriosam dolor perferendis fugit, eum nihil. Maxime, quasi.
        Unde iste adipisci pariatur laboriosam aperiam saepe error consequuntur eaque sunt aut aliquam velit commodi
        veritatis ullam odio, exercitationem dolorum non magni explicabo necessitatibus ut. Eos iste, asperiores ea
        laborum inventore harum facilis, eveniet deserunt tenetur animi natus sunt, nobis repellat.</p>
    <!-- Pijaus  -->
    <script src="../../assets/js/jQuery.js"></script>
    <script src="../../assets/js/bootstrap.bundle.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>