<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../assets/js/bootstrap.js">
    <link rel="stylesheet" href="../../assets/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../../assets/js/jQuery.js">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <header>
        <a href="../../index.html">Home</a>
        <a href="first.html">First</a>
        <a href="second.html">Second</a>
    </header>
    <h1>Cia yra second.html</h1>

    <script src="../../assets/js/jQuery.js"></script>
    <script src="../../assets/js/bootstrap.bundle.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>