<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tvarka</title>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../assets/js/bootstrap.js">
    <link rel="stylesheet" href="../../assets/js/bootstrap.bundle.js">
    <link rel="stylesheet" href="../../assets/js/jQuery.js">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>


    <!--Carousel Wrapper-->
    <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example2" data-slide-to="1"></li>
            <li data-target="#video-carousel-example2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="carousel-item active">
                <!--Video source-->
                <video autoplay loop muted>
                    <source
                        src="../../assets/videos/Interstellar Official Movie Clip 1 - Useless Machines (2014) - Matthew McConaughey Movie HD.mp4"
                        type="video/mp4" />
                </video>
            </div>
            <!-- /.First slide -->

            <!-- Second slide -->
            <div class="carousel-item">
                <!--Video source-->
                <video autoplay loop muted>
                    <source src="../../assets/videos/2018 Audi RS5 commercial - “Final Breath”.mp4" type="video/mp4" />
                </video>
            </div>
            <!-- /.Second slide -->

            <!-- Third slide -->
            <div class="carousel-item">
                <!--Video viewsource-->
                <video autoplay loop muted>
                    <source src="../../assets/videos/Audi Synchronised Swim.mp4" type="video/mp4" />
                </video>
            </div>
            <!-- /.Third slide -->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--Carousel Wrapper-->





    <script src="../../assets/js/jQuery.js"></script>
    <script src="../../assets/js/bootstrap.bundle.js"></script>
    <script src="../../assets/js/bootstrap.js"></script>
</body>

</html>